body {
  position: relative;
}

.login-back {
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  top: 5%;
  left: 15%;
}

.welcome--header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome--header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome--header__text {
  width: 60%;
  color: rgba(0, 0, 0, 0.7);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 17px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: #484c69;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

a {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #484c69;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
