.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  margin-right: 29px;
}

.more-suggestions__icons-column {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-images {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.more-suggestions__icons:nth-child(2) .more-suggestions__icon-images {
  background-color: #d7005d;
}

.more-suggestions__icons:nth-child(3) .more-suggestions__icon-images {
  background-color: #464948;
}

.more-suggestions__icons:last-child .more-suggestions__icon-images {
  background-color: #19ce60;
}

.more-suggestions__icon-images i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-text {
  color: rgba(0, 0, 0, 0.5);
}
