.nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #484c69;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative;
  color: #2e363e;
}

.nav_notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav_dot {
  display: flex;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  position: absolute;
  left: 30px;
}

@keyframes notificationRotation {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: none;
  }
}

.nav_notification {
  animation: notificationRotation 1s ease-in-out infinite;
}
